* {
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
    box-shadow: 1px 1px 1px cyan;
}
/* todo Form Style */
.todo_form {
    margin: 10px auto;
    padding: 20px;
    background: cyan;
    width: 75%;
    display: flex;
    justify-content: center;
}
.todo_form > .todo_input {
    padding: 5px 10px;
    flex: 2;
    border: none;
    font-size: medium;
    transition: padding 1s;
}
.todo_form > .todo_input:focus {
    outline-width: 0;
}
.todo_form > .todo_input:hover {
    padding: 5px 20px;
}
.todo_form > .todo_btn {
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    border: none;
    background: green;
    transition: padding 1s;
}
.todo_form > .todo_btn:hover {
    padding: 15px 40px;
    background: red;
}
/* todo List Style */
.todo_list {
    margin: 10px auto;
    width: 75%;
    background: cyan;
    padding: 0px;
    display: block;
    justify-content: left;
}
.todo_list:hover {
    border-left: 10px Solid rgb(170, 27, 139);
}
.todo_item {
    width: 100%;
    margin: 10px;
    padding: 10px;
}
.todo_title {
    font-weight: bold;
    color: rgb(155, 23, 84);
}
.todo_info {
    display: flex;
}
.todo_date {
    flex: 2;
}
